# Authentication
AuthType Basic
AuthName "Restricted Content. User & password: theconqueror"
AuthBasicProvider file
AuthUserFile "C:\laragon\www\TheConqueror\.htpasswd"
# AuthUserFile ".htpasswd"
Require valid-user

# Disable server folder listing
Options -Indexes

<IfModule mod_rewrite.c>
    # Redirect to https
    RewriteEngine On 
    RewriteCond %{HTTPS} !=on 
    RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]

    # Route to index.php
    RewriteEngine On
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    RewriteBase /
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>